<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#openkart111">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">OpenKart</a>
      </div>
    <div class="collapse navbar-collapse" id="openkart111">
        <ul class="nav navbar-nav">
            <li class="active"><a (click)="onHeaderClick('home')">Home</a></li>
            <li class="active"><a (click)="onHeaderClick('productlist')">ProductList</a></li>
            <li class="active"><a (click)="onHeaderClick('orders')">Orders</a></li>
            <li class="active"><a (click)="onHeaderClick('register')">Register</a></li>
            <li class="active"><a (click)="onHeaderClick('contact')">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
        </ul>
    </div>
    </div>
</nav>